* {
    margin: 0;
    padding: 0;
}

main {
    font-size: 62.5%;
    margin: 0;
    height: 100vh;
}

#container {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 2rem;
    transition: background .5s;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
}

h1 {
    color: white;
    background-color: #2c8e99;
    font-size: 3.5em;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0;
}

#color-display {
    display: block;
    font-size: 100%;
}

#stripe {
    background: white;
    height: 30px;
    text-align: center;
    color: black;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}